@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #721bd3;
  background: -webkit-linear-gradient(top left, #721bd3, #c640f9);
  background: -moz-linear-gradient(top left, #721bd3, #c640f9);
  background: linear-gradient(to bottom right, #721bd3, #c640f9);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#upper-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#upper-wrapper-left-section {
  width: max-content;
  margin: 30px;
}

#heading {
  color: gold;
  text-align: center;
  font-size: 30px;
  margin: 5px;
  letter-spacing: 8px;
}

#upper-wrapper-right-section {
  width: max-content;
  margin: 30px;
}

#score-section {
  position: absolute;
  right: 170px;
  top: 80px;
}

#bottom-wrapper {
  display: flex;
  justify-content: center;
  background-color: gold;
  border-radius: 10% / 30%;
  border: 7px solid darkgoldenrod;
}

#start-button {
  position: absolute;
  z-index: 10;
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 10px;
  right: 47vw;
  top: 48vh;
  border-radius: 20px;
  font-size: 30px;
  box-shadow: 1px 1px 1px 1px #000000;
}

#start-button:active {
  background-color: goldenrod;
  font-size: 29px;
  border-radius: 22px;
}
